@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0px;}
body{background:#cccccc;}
.top{background:url(../yoka/images/bg01.gif); background:repeat;height:178px;}
.center{width:1000px;border:1px solid red;height:1000px;margin:0px;}
form{float:right;margin-top:20px;}
input[type=text]{width:200px;height:35px;}
input[type-text]{width:60px;height:35px;float:left; background:    border:none;}




